$enable-negative-margins:     false !default;

$primary: #3d1078;

#nav {
  a {
    font-weight: normal;
    font-size: 1.1rem;


    &.router-link-exact-active {
      color: #ffffff;
    }
  }
}

#sidebar-wrapper {
  a {
    font-weight: normal;
    font-size: 1.1rem;


    &.router-link-exact-active {
      color: $primary;
    }
  }
}



@import "node_modules/bootstrap/scss/bootstrap";
@import "@/assets/css/main";
