#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#navspacer {
  margin-bottom: 80px;
}

.holdvue {
  padding-top:80px
}

.btn-primary:focus, .btn-primary:active {
  box-shadow: none !important;
  outline: 0px !important;
}

.medium-logo {
    width: 200px;
}

ul {
  list-style: none;
  padding: 0;
}

/* TRANSITIONS */
/* ROUTER */

.wrapper {
  width: 100%;
  min-height: 100vh;
}

/* TRANSITIONS */
/* ROUTER */

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-active {
  opacity: 0;
}

/* scale */
.scale-enter-active,
.scale-leave-active {
  transition: all 0.5s ease;
}

.scale-enter-from,
.scale-leave-to {
  opacity: 0;
  transform: scale(0.9);
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.75s ease-out;
}


.slide-enter-to {
  position: absolute;
  right: 0;
}


.slide-enter-from {
  position: absolute;
  right: -100%;
}


.slide-leave-to {
  position: absolute;
  left: -100%;
}


.slide-leave-from {
  position: absolute;
  left: 0;
}

/* helpers */

.orangeb {
  border:1px solid #ff6600
}